.hot-block {
	padding: 70px 0px;
	@media (max-width: 991px) {
		padding: 50px 0px;
	}
}
.heading {
	margin: 0px;
	.main-heading {
		font-family: $mainFont;
		font-style: normal;
		font-weight: normal;
		font-size: 24px;
		line-height: 29px;
		color: #000000;
	}
	.heading-link {
		font-family: Proxima Nova;
		font-style: normal;
		font-weight: normal;
		font-size: 18px;
		line-height: 22px;
		color: #000000;
		border: 0px;
		&:hover {
			text-decoration: none;
			border: 0px;
			&:before {
				background-color: #000;
			}
		}
	}
}

.product-card__img {
	background-color: #fff;
	box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.06);
	border-radius: 5px;
	@media (max-width: 991px) {
		display: flex;
		justify-content: center;
	}
}
.product-card__body .product-category {
	font-family: $mainFont;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 22px;
	color: #A1A0A7;
	margin-bottom: 8px;
}
.product-card__body .product-name {
	a {
		font-family: $mainFont;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		line-height: 19px;
		color: #000000;
	}
}
.product-price {
	.old {
		.amount {
			font-family: $mainFont;
			font-style: normal;
			font-weight: normal;
			font-size: 18px;
			line-height: 22px;
			text-decoration-line: line-through;
			color: #A1A0A7;
		}
	}
	.current  {
		.amount {
			font-family: $mainFont;
			font-style: normal;
			font-weight: normal;
			font-size: 20px;
			line-height: 24px;
			color: #000000;
		}
	}
}

.product-actions .product-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	svg {
		path {
			fill: #000;
		}
	}
	&:hover {
		svg {
			path {
				fill: #fff;
			}
		}
	}
}
