.hero-header--carousel .inner-content .slider-btn {
	font-family: $mainFont;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 29px;
	padding: 10px 2rem;
	color: #FFFFFF;
	&:hover {
		text-decoration: none;
	}
}
.btn {
	background: #000!important;
}
.button {
	&.button--link {
		color: #000;
		opacity: 1;
		&:hover {
			color: #000;
			text-decoration: none;
			background: #fff;
		}
	}
	&.button--dark {
		&.button--dark-outline {
			background: #000;
			&:hover {
				color: #000;
				&:before {
					border-radius: 0px;
					background:#fff;
				}
			}
		}
	}
}

.btn-default {
	border: 0px;

	background: #000000;
	border-radius: 3px;
	border: 1px solid transparent;
	padding: 10px 15px;

	font-family: $mainFont;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 22px;
	color: #FFFFFF;

	transition: 0.3s;
	&:hover {
		background: #fff;
		border: 1px solid #000;

		transition: 0.3s;

		color: #000;
		text-decoration: none;
	}
}

.button--dark:hover, .button--secondary:hover,
.button--dark-outline:hover {
	text-decoration: none;
}
