.custom-breadcrumb--minimal .breadcrumb {
	padding: 20px 0 10px 0px;
}
.custom-breadcrumb--minimal .breadcrumb .breadcrumb-item>a,
.custom-breadcrumb--minimal .breadcrumb .breadcrumb-item {
	font-family: $mainFont;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 17px;
	color: #7F7F7F;
}

.custom-breadcrumb--minimal .breadcrumb .breadcrumb-item+.breadcrumb-item:before {
	content: "/";
}
