<footer>
	<div class="footer">
		<div class="footer-top-row">
			<div class="container">
				<div class="row">
					<div class="col-lg-3 col-md-12 footer-col">
						<div class="widget widget_logo">
							<img class="lazyload" data-src="images/logo_white.png" alt="img">
						</div>
					</div>
					<div class="col-lg-3 col-md-4 footer-col">
						<div class="widget widget_contact">
							<div class="info-wrapper">
								img(class="lazyload mr-2" data-src="images/adress_white.svg" alt="img")
								<div class="content">
									<span class="pb-2 d-block">Адрес:</span>
									<p>Москва, ул. Ленина 1</p>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-4 footer-col">
						<div class="widget widget_contact">
							<div class="info-wrapper">
								img(class="lazyload mr-2" data-src="images/phone_white.svg" alt="img")
								<div class="content d-flex flex-column">
									<span class="pb-2 d-block">Телефон:</span>
									<a href="tel:+74957485966">+7 (495) 748-59-66</a>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-4 footer-col">
						<div class="widget widget_contact">
							<div class="info-wrapper">
								img(class="lazyload mr-2" data-src="images/mail_white.svg" alt="img")
								<div class="content d-flex flex-column">
									<span class="pb-2 d-block">Email:</span>
									<a href="mailto:info@dxl.ru">info@dxl.ru</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="footer-main-content">
			<div class="container">
				<div class="row">
					<div class="col-lg-3 col-md-6 footer-col">
						<div class="widget widget_about">
							<div class="widget-desc">
								<p>Интернет-магазин элитной парфюмерии для дома и офиса</p>
							</div>
							div(class="social-block social-block_footer justify-content-start")
								a(href="#" class="social-block__item")
									<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M3.51562 24H11.3438V15.4688H8.53125V12.6562H11.3438V9.14062C11.3438 7.20209 12.9208 5.625 14.8594 5.625H18.375V8.4375H15.5625C14.787 8.4375 14.1562 9.0683 14.1562 9.84375V12.6562H18.2481L17.7794 15.4688H14.1562V24H20.4844C22.4229 24 24 22.4229 24 20.4844V3.51562C24 1.57709 22.4229 0 20.4844 0H3.51562C1.57709 0 0 1.57709 0 3.51562V20.4844C0 22.4229 1.57709 24 3.51562 24ZM1.40625 3.51562C1.40625 2.35254 2.35254 1.40625 3.51562 1.40625H20.4844C21.6475 1.40625 22.5938 2.35254 22.5938 3.51562V20.4844C22.5938 21.6475 21.6475 22.5938 20.4844 22.5938H15.5625V16.875H18.9706L19.9081 11.25H15.5625V9.84375H19.7812V4.21875H14.8594C12.1454 4.21875 9.9375 6.42664 9.9375 9.14062V11.25H7.125V16.875H9.9375V22.5938H3.51562C2.35254 22.5938 1.40625 21.6475 1.40625 20.4844V3.51562Z"/>
									</svg>
								a(href="#" class="social-block__item" )
									<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M17.5034 0H6.49657C2.9143 0 0 2.9143 0 6.49657V17.5036C0 21.0857 2.9143 24 6.49657 24H17.5036C21.0857 24 24 21.0857 24 17.5036V6.49657C24 2.9143 21.0857 0 17.5034 0V0ZM22.593 17.5036C22.593 20.3098 20.3098 22.593 17.5034 22.593H6.49657C3.69012 22.593 1.40698 20.3098 1.40698 17.5036V6.49657C1.40698 3.69012 3.69012 1.40698 6.49657 1.40698H17.5036C20.3098 1.40698 22.593 3.69012 22.593 6.49657V17.5036Z"/>
										<path d="M12 5.43767C8.38152 5.43767 5.43774 8.38145 5.43774 12C5.43774 15.6185 8.38152 18.5623 12 18.5623C15.6186 18.5623 18.5624 15.6185 18.5624 12C18.5624 8.38145 15.6186 5.43767 12 5.43767ZM12 17.1553C9.15752 17.1553 6.84472 14.8427 6.84472 12C6.84472 9.15745 9.15752 6.84465 12 6.84465C14.8428 6.84465 17.1554 9.15745 17.1554 12C17.1554 14.8427 14.8428 17.1553 12 17.1553Z" fill="black"/>
										<path d="M18.7191 3.10711C17.6498 3.10711 16.78 3.97704 16.78 5.04619C16.78 6.11553 17.6498 6.98546 18.7191 6.98546C19.7884 6.98546 20.6584 6.11553 20.6584 5.04619C20.6584 3.97686 19.7884 3.10711 18.7191 3.10711ZM18.7191 5.5783C18.4258 5.5783 18.187 5.33953 18.187 5.04619C18.187 4.75268 18.4258 4.51409 18.7191 4.51409C19.0126 4.51409 19.2514 4.75268 19.2514 5.04619C19.2514 5.33953 19.0126 5.5783 18.7191 5.5783Z"/>
									</svg>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 footer-col  d-none d-lg-block">
						<div class="widget widget_shop-links">
							<h3 class="widget-title">Каталог</h3>
							<ul class="widget-list">
								<li class="widget-list_item">
									<a href="#">Mr&Mrs Fragrance</a>
								</li>
								<li class="widget-list_item">
									<a href="#">Danhera Italy</a>
								</li>
								<li class="widget-list_item">
									<a href="#">Christian Tortu</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 footer-col  d-none d-lg-block">
						<div class="widget widget_short-links">
							<h3 class="widget-title">Информация</h3>
							<ul class="widget-list">
								<li class="widget-list_item">
									<a href="#">Оплата и доставка</a>
								</li>
								<li class="widget-list_item">
									<a href="#">О компании</a>
								</li>
								<li class="widget-list_item">
									<a href="#">Контакты</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 footer-col">
						<div class="widget widget_help">
							<h3 class="widget-title">Рассылка</h3>
							p
								| Подпишитесь на наши акции и новинки
							form(class="spam-block")
								input(class="spam-block__text" type="text" placeholder="Ваш e-mail")
								button(type="submit" class="btn")
									| отправить
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="footer-bottom-row">
			<div class="container">
				div(class="footer-bottom-row__line")
				<div class="row">
					<div class="col-md-6">
						<div class="widget widget_copyright">
							<p class="text-center text-lg-left">2020 - Небо фрагранс | Политика конфиденциальности</p>
						</div>
					</div>
					<div class="col-md-6 d-flex justify-content-center justify-content-lg-end">
						a(href="https://deksis.ru" class="developer")
							| Разработка сайта DEKSIS.RU
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>
