<div class="hot-block">
	<div class="row pb-5">
		<div class="col-12">
			<div class="heading">
				<h2 class="main-heading">Лучшие предложения</h2>
				<a href="#" class="heading-link d-none d-lg-block button button--link">Смотреть все предложения</a>
			</div>
		</div>
	</div>
	<div class="row">
		- for (var i = 0; i < 5; i++)
			<div class="col-lg col-sm-6">
				<div class="product-card product-card--block">
					<div class="product-card__img">
						<a href="#">
							<img class="lazyload" src="images/item.png" alt="img">
						</a>
						<div class="product-card__overlay">
							<div class="product-badge">-10%</div>
							<div class="product-actions">
								<ul class="product-btn-list">
									<li>
										<a href="#" class="product-btn">
											<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
												<path d="M23.8475 11.5334C23.6331 11.2401 18.5245 4.35181 11.9999 4.35181C5.47529 4.35181 0.366469 11.2401 0.152297 11.5331C-0.0507657 11.8113 -0.0507657 12.1887 0.152297 12.467C0.366469 12.7603 5.47529 19.6485 11.9999 19.6485C18.5245 19.6485 23.6331 12.7602 23.8475 12.4672C24.0508 12.189 24.0508 11.8113 23.8475 11.5334ZM11.9999 18.0661C7.19383 18.0661 3.03127 13.4942 1.79907 11.9996C3.02968 10.5037 7.18351 5.93422 11.9999 5.93422C16.8057 5.93422 20.968 10.5053 22.2007 12.0007C20.9701 13.4966 16.8163 18.0661 11.9999 18.0661Z" fill="black"/>
												<path d="M12 7.25269C9.38236 7.25269 7.25269 9.38236 7.25269 12C7.25269 14.6176 9.38236 16.7472 12 16.7472C14.6175 16.7472 16.7472 14.6176 16.7472 12C16.7472 9.38236 14.6175 7.25269 12 7.25269ZM12 15.1648C10.2548 15.1648 8.83514 13.7451 8.83514 12C8.83514 10.2548 10.2548 8.83514 12 8.83514C13.7451 8.83514 15.1648 10.2548 15.1648 12C15.1648 13.7451 13.7451 15.1648 12 15.1648Z" fill="black"/>
											</svg>
										</a>
									</li>
									<li>
										<a href="#" class="product-btn">
											<svg width="22" height="24" viewBox="0 0 22 24" fill="none" xmlns="http://www.w3.org/2000/svg">
												<path d="M21.4088 23.2111L19.5847 5.8405C19.5464 5.47685 19.2399 5.20073 18.8743 5.20073H15.4458V4.41905C15.4458 1.98247 13.4633 -7.62939e-06 11.0267 -7.62939e-06C8.58998 -7.62939e-06 6.6075 1.98247 6.6075 4.41905V5.20073H3.17904C2.81338 5.20073 2.50687 5.47685 2.4686 5.8405L0.644503 23.2111C0.623446 23.4124 0.688815 23.6132 0.824129 23.7637C0.959627 23.9141 1.15262 23.9999 1.35495 23.9999H20.6982C20.9007 23.9999 21.0937 23.9141 21.229 23.7637C21.3647 23.6132 21.4299 23.4124 21.4088 23.2111ZM8.03609 4.41905C8.03609 2.77019 9.3777 1.42858 11.0267 1.42858C12.6756 1.42858 14.0172 2.77019 14.0172 4.41905V5.20073H8.03609V4.41905ZM2.14816 22.5714L3.82229 6.62931H6.6075V8.20347C6.6075 8.59788 6.92739 8.91776 7.3218 8.91776C7.7162 8.91776 8.03609 8.59788 8.03609 8.20347V6.62931H14.0172V8.20347C14.0172 8.59788 14.3371 8.91776 14.7315 8.91776C15.1259 8.91776 15.4458 8.59788 15.4458 8.20347V6.62931H18.231L19.9051 22.5714H2.14816Z" fill="white"/>
											</svg>
										</a>
									</li>
									<li>
										<a href="#" class="product-btn">
											<svg width="24" height="20" viewBox="0 0 24 20" fill="none" xmlns="http://www.w3.org/2000/svg">
												<path d="M17.1949 0.06565C15.1929 0.0549507 13.2896 0.934217 12 2.46562C10.7184 0.92375 8.80988 0.0419835 6.80503 0.06565C3.0467 0.06565 0 3.11235 0 6.87068C0 13.3112 11.2405 19.5998 11.6962 19.8428C11.8801 19.9657 12.1199 19.9657 12.3038 19.8428C12.7595 19.5998 24 13.4023 24 6.87068C24 3.11235 20.9532 0.06565 17.1949 0.06565ZM12 18.6276C10.238 17.5947 1.21519 12.096 1.21519 6.87068C1.21519 3.7835 3.71785 1.28078 6.80508 1.28078C8.69561 1.25595 10.4648 2.20953 11.4836 3.80229C11.6904 4.0875 12.0893 4.15106 12.3746 3.94417C12.4291 3.90463 12.477 3.85677 12.5164 3.80229C14.206 1.21845 17.6702 0.49345 20.2541 2.18296C21.8358 3.21725 22.7879 4.98073 22.7848 6.87062C22.7848 12.1567 13.762 17.6251 12 18.6276Z" fill="black"/>
											</svg>
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="product-card__body">
						<div class="product-category">Авто</div>
						<h3 class="product-name">
							<a href="#">Аромадиффузор George Bluetooth розовое золото</a>
						</h3>
						<div class="product-price">
							<span class="old">
								<span class="amount">1 500 ₽ </span>
							</span>
							<span class="current ">
								<span class="amount">1 200 ₽</span>
							</span>
						</div>
					</div>
				</div>
			</div>
	</div>
</div>
