<div class="hero-header hero-header--carousel" id="heroHeaderCarousel">
	<div class="hero-header-bg" style="background-image: url('images/slider1.png')">
		<div class="container">
			<div class="row">
				<div class="col-lg-5">
					<div class="hero-header__wrapper">
						<div class="inner-content slider-animated">
							<div class="slider-title slider-title--style-1">
								<span class="slider-subtitle animated">ЛЕТО 2020</span>
								<h1 class="slider-main-title animated">Новая коллекция</h1>
							</div>
							<div class="slider-text animated">
								<p class="pr-lg-5">Коллекция ароматов для дома от легендарной компании DANHERA ITALY</p>
							</div>
							<a href="#" class="button button--dark button-lg slider-btn animated  button--dark-outline">Заказать</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="hero-header-bg" style="background-image: url('images/slider1.png')">
		<div class="container">
			<div class="row">
				<div class="col-lg-5">
					<div class="hero-header__wrapper">
						<div class="inner-content slider-animated">
							<div class="slider-title slider-title--style-1">
								<span class="slider-subtitle animated">ЛЕТО 2020</span>
								<h2 class="slider-main-title animated">Новая коллекция</h2>
							</div>
							<div class="slider-text animated">
								<p class="pr-lg-5">Коллекция ароматов для дома от легендарной компании DANHERA ITALY</p>
							</div>
							<a href="#" class="button button--dark button-lg slider-btn animated  button--dark-outline">Заказать</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
