.footer {
	.footer-top-row {
		padding: 25px 0px;
	}
	.widget {
		&.widget_contact {
			.content {
				padding-left: 17px;
				margin-left: 29px;
				border-left: 1px solid #fff;
			}
			a {
				font-family: $mainFont;
				font-style: normal;
				font-weight: normal;
				font-size: 14px;
				line-height: 17px;
				color: #E8E8E8;
			}
		}
		span {
			font-family: $mainFont;
			font-style: normal;
			font-weight: bold;
			font-size: 16px;
			line-height: 19px;
			color: #FFFFFF;
		}
		p {
			font-family: $mainFont;
			font-style: normal;
			font-weight: normal;
			font-size: 14px;
			line-height: 17px;
			color: #E8E8E8;
		}
		.widget-desc {
			padding: 0px;
			p {
				font-family:  $mainFont;
				font-style: normal;
				font-weight: normal;
				font-size: 16px;
				line-height: 19px;
				color: #FFFFFF;

				margin-bottom: 20px;
			}
		}
		.widget-title {
			font-family:  $mainFont;
			font-style: normal;
			font-weight: bold;
			font-size: 18px;
			line-height: 22px;
			color: #FFFFFF;
			margin-bottom: 20px;
		}
		.widget-list_item {
			padding: 0px;
			margin-bottom: 15px;
			a {
				font-family:  $mainFont;
				font-style: normal;
				font-weight: normal;
				font-size: 18px!important;
				line-height: 22px!important;
				color: #fff!important;
			}
			&:last-child {
				margin: 0px;
			}
		}
		.widget_copyright {
			font-family:  $mainFont;
			font-style: normal;
			font-weight: normal;
			font-size: 14px;
			line-height: 17px;
			color: #FFFFFF;
		}
	}
	.widget_help {
		p {
			font-family: $mainFont;
			font-style: normal;
			font-weight: normal;
			font-size: 18px;
			line-height: 22px;
			margin-bottom: 30px;
			color: #FFFFFF;
		}
	}
	.footer-main-content {
		padding: 70px 0px;

		@media (max-width: 991px) {
			padding: 40px 0px;
		}
	}
	.footer-bottom-row {

		padding-bottom: 25px;
		.footer-bottom-row__line {
			height: 1px;
			background-color: #fff;
			margin-bottom: 25px;
		}
	}
}

.developer {
	font-family: $mainFont;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 17px;
	color: #FFFFFF;
}
