.pagination {
	.page-item {
		a {
			font-family: $mainFont;
			font-style: normal;
			font-weight: normal;
			font-size: 18px;
			line-height: 22px;
			color: #7F7F7F;
			&:hover {
				background: none;
			}
		}
	}
}
