.hero-header--shop{
	background-color: #FFDB7D;
}
.shop-filter-list ul .filter-list_item {
	padding: 7px 14px;
	margin-bottom: 0px;
}
.shop-filter-list ul .filter-list_item>a {
	&:hover {
		text-decoration: none;
	}
}
.shop-sort .nice-select {
	height: unset;
}
.shop-widget .widget .widget-title {
	margin-bottom: 0px;
	padding-bottom: 20px;
	font-family: $mainFont;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 22px;
	color: #000000;
	display: block;
}
.widget .widget-list .widget-list_item {
	padding: 0px;
	margin-bottom: 16px;

	display: flex;
	justify-content: space-between;
}

.widget .widget-list .widget-list_item .custom-control-label {
	cursor: pointer;
}

.widget .widget-list .widget-list_item>a {
	font-family: $mainFont;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 21px;
	color: #7F7F7F;
	opacity: 1;
	&:hover {
		color: #7f7f7f;
		opacity: 1;
	}
}


#price_0, #price_1 {
	border: 0px;
	padding: 0px;
	max-width: 100px;
	font-family: $mainFont;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 17px;
	/* identical to box height */


	color: #7F7F7F;
}

.ui-widget-content .ui-state-default {
	width: 15px;
	height: 15px;
	border: 1px solid #000;
	background: #FFFFFF;
	border-radius: 100%;
	cursor: pointer;
}
.ui-widget.ui-widget-content {
	background: #C4C4C4;
	border: 0px;
}
.ui-widget-header {
	background: #000;
}
.ui-slider-horizontal {
	height: 6px;
	border-radius: 0px;
}
.custom-control .custom-control-input:checked~.custom-control-label::before {
	background-color: #000;
	border-color: #000;
}
