extends base.pug
block content
	<div class="custom-breadcrumb custom-breadcrumb--minimal">
		<div class="container">
			<nav aria-label="breadcrumb">
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="#">главная</a></li>
					<li class="breadcrumb-item active" aria-current="page">О компании</li>
				</ol>
			</nav>
		</div>
	</div>
	div(class="main-content")
		div(class="container")
			div(class="row py-5")
				div(class="col-12")
					h1
						| О компании
			<div class="grid-section about">
				<div class="row">
					<div class="col-lg-6">
						<div class="grid-section_img grid-section--mb">
							<div class="img-group-single">
								<img class="lazyload" data-src="images/rare1.jpg" alt="img">
							</div>
							<div class="img-group-single">
								<img class="lazyload" data-src="images/a-iki-art-parfums-10 1.jpg" alt="img">
							</div>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="grid-section_content">
							<h2 class="section-title">About Our Store</h2>
							p
								| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
							<div class="blockquote">
								p
									| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
							</div>
							<div class="section-logo">
								<img src="assets/images/logo-dark.png" alt="">
							</div>
						</div>
					</div>
				</div>
			</div>
