doctype html
html(lang="ru")
	head
		meta(charset = 'utf-8')
		meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
		meta(http-equiv="X-UA-Compatible" content="ie=edge")
		link(rel="stylesheet" href="css/main.min.css")

		link(rel="icon" href="images/favicon.png" sizes="32x32")
		title Небо Фрагранс
	body
		include components/preloader-area.pug
		include components/header-area.pug
		block content
		include components/footer-area.pug
		<a class="back-to-top-btn" id="backToTop"></a>
		script(src="js/main.min.js")
