extends base.pug
block content
	<div class="hero-header hero-header--shop">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<h1 class="title"><b>Блог</b></h1>
				</div>
			</div>
		</div>
	</div>
	<div class="custom-breadcrumb custom-breadcrumb--minimal">
		<div class="container">
			<nav aria-label="breadcrumb">
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="#">главная</a></li>
					<li class="breadcrumb-item active" aria-current="page">Блог</li>
				</ol>
			</nav>
		</div>
	</div>
	div(class="main-content")
		div(class="container")
			<div class="row blog">
				- for (var i = 0; i < 12; i++)
					<div class="col-12 col-lg-4 mb-5">
						<div class="blog-post-card img-hover-4">
							<div class="blog-post-image d-flex justify-content-center">
								<a href="#" class="d-block w-100">
									<img class="lazyload w-100" data-src="images/Rectangle 8.jpg" alt="img">
								</a>
							</div>
							<div class="blog-post-body">
								<a href="#">
									<h3 class="post-title">Заголовок новости или акции</h3>
								</a>
								<div class="post-summery">
									<p>Краткая аннотация новости или акции для подробного просмотра.</p>
								</div>
								<div class="post-btn">
									<a href="#" class="button button--link">Подробнее</a>
								</div>
							</div>
						</div>
					</div>
				<div class="col-12">
					<nav aria-label="Page navigation">
						<ul class="pagination custom-pagination">
							<li class="page-item active"><a class="page-link" href="#">1 <span class="sr-only">(current)</span></a></li>
							<li class="page-item"><a class="page-link" href="#">2</a></li>
							<li class="page-item"><a class="page-link" href="#">3</a></li>
							<li class="page-item"><a class="page-link" href="#">4</a></li>
							<li class="page-item"><a class="page-link" href="#">последняя</a></li>
						</ul>
					</nav>
				</div>
			</div>
