extends base.pug
block content
	<div class="custom-breadcrumb custom-breadcrumb--minimal">
		<div class="container">
			<nav aria-label="breadcrumb">
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="#">главная</a></li>
					<li class="breadcrumb-item active" aria-current="page">каталог</li>
				</ol>
			</nav>
		</div>
	</div>
	<div class="main-content">
		<div class="container">
			<div class="cart-section">
				<div class="cart-form">
					<div class="row">
						div(class="col-12 col-lg-10 offset-lg-1")
							<div class="heading">
								<h1 class="main-heading">Корзина</h1>
							</div>
						<div class="col-12 col-lg-10 offset-lg-1">
							<div class="cart-form__left">
								<table class="shop_table cart_table">
									<tbody class="shop_table_body">
										-for (var i = 0; i < 2; i++)
											<tr class="product_item">
												<td class="product-thumbnail">
													<a href="#" class="product-img">
														<img class="lazyload" data-src="images/cart.jpg" alt="img">
													</a>
												</td>
												<td class="product-name" data-title="Name">
													<a href="#">№ 51 Концентрированное средство для мытья посуды аромат ЛИМОНЫ ЧИЛЕНТО 500 мл</a>
												</td>
												<td class="product-price">
													<div class="current ">
														<span class="amount">1 200 ₽ </span>
													</div>
												</td>
												<td class="product-quantity" data-title="Quantity">
													<form>
														<div class="quantity-input">
															<input class="quantity__input" type="number" value="1"/>
															<span class="quantity__minus"><i class="fas fa-chevron-down"></i></span>
															<span class="quantity__plus"><i class="fas fa-chevron-up"></i></span>
														</div>
													</form>
												</td>
												<td class="product-subtotal" data-title="Total">
													<span class="amount"><b>1 200 ₽</b></span>
												</td>
												<td class="product-remove text-right">
													<form>
														<button  type="submit" name="" value=""><i class="fa fa-times"></i></button>
													</form>
												</td>
											</tr>
									</tbody>
								</table>
							</div>
						</div>
						<div class="col-12 col-lg-10 offset-lg-1">
							form(class="cart_form")
								div(class="row")
									div(class="col-12")
										h2(class="sub-title")
											| Контактная информация
								div(class="row pb-4")
									div(class="col-12 col-lg-4 mb-4 mb-lg-0")
										input(type="text" placeholder="Имя")
									div(class="col-12 col-lg-4 mb-4 mb-lg-0")
										input(type="email" placeholder="E-mail")
									div(class="col-12 col-lg-4")
										input(type="tel" placeholder="Телефон")
								div(class="row pt-5")
									div(class="col-12")
										h2(class="sub-title")
											| Адрес доставки
								div(class="row")
									div(class="col-12 col-lg-4 mb-4 mb-lg-0")
										input(type="text" placeholder="Город")
									div(class="col-12 col-lg-4 mb-4 mb-lg-0")
										input(type="text" placeholder="Адрес")
									div(class="col-12 col-lg-4")
										<div class="cart-form__right">
											<div class="cart_totals">
												<div class="expenses">
													<span>Итого</span>
													<span class="price"><b>2 400 ₽</b></span>
												</div>
												<div class="expenses">
													<span>Доставка</span>
													<span class="price"><b>750 ₽</b></span>
												</div>
												<div class="total-price">
													<span><b>ИТОГО:</b></span>
													<span class="price"><b>3 150 ₽</b></span>
												</div>
												div(class="d-flex justify-content-center")
													<button href="#" class="btn-default button button--dark  button--dark-outline" type="submit">Оформить заказ</button>
											</div>
										</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
