extends base.pug
block content
	<div class="custom-breadcrumb custom-breadcrumb--minimal">
		<div class="container">
			<nav aria-label="breadcrumb">
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="#">главная</a></li>
					<li class="breadcrumb-item active" aria-current="page">О компании</li>
				</ol>
			</nav>
		</div>
	</div>
	div(class="main-content")
		div(class="container")
			div(class="row py-5")
				div(class="col-12")
					h1
						| Контакты
			<div class="row pb-5">
				<div class="col-lg-3 col-12 pb-5 pb-lg-0">
					<div class="contact-info-list list-divider h-100">
						<h2 class="title">Москва</h2>
						<ul class="list-no-style">
							<li>
								<span class="info-title">Чаты работы:</span>
								<span class="info-content">пн-пт 8:00-22:00</span>
							</li>
							<li>
								<span class="info-title">Email:</span>
								<a class="info-content" href="mailto:info@dxl.ru">info@dxl.ru</a>
							</li>
							<li>
								<span class="info-title">Адрес:</span>
								<span class="info-content">Москва, ул. Ленина 1</span>
							</li>
							<li>
								<span class="info-title">Телефон:</span>
								<a class="info-content" href="tel:+7 (495) 748-59-66">+7 (495) 748-59-66</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-12 col-lg-9">
					<iframe class="d-block" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5359.868276426475!2d37.198576969317756!3d55.60989706169295!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b556dedd0efbc1%3A0x74bc15fbe70fd062!2z0YPQuy4g0JvQtdC90LjQvdCwLCAxLCDQnNC-0YHQutCy0LAsIDE0MzM1MA!5e0!3m2!1sru!2sru!4v1596675375861!5m2!1sru!2sru" width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
				</div>
			</div>
