extends base.pug
block content
	<div class="custom-breadcrumb custom-breadcrumb--minimal">
		<div class="container">
			<nav aria-label="breadcrumb">
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="#">главная</a></li>
					<li class="breadcrumb-item active" aria-current="page">О компании</li>
				</ol>
			</nav>
		</div>
	</div>
	div(class="main-content")
		div(class="container")
			div(class="row py-5")
				div(class="col-12")
					div(class="delivery")
						h1(class="pb-5")
							| Контакты
						img(class="lazyload mb-5" data-src="images/delivery.jpg" alt="img")
						div(class="pb-3")
							h2(class="mb-3")
								| Самовывоз
							p
								| Оплаченный товар Вы можете получить на нашем складе по адресу: г. Москва, ул. Полярная, 41. Для юридических лиц и индивидуальных предпринимателей при получении товара при себе необходимо иметь паспорт и доверенность на получение ТМЦ по форме М2(а), оформленную должным образом. График работы склада: с понедельника по четверг с 9-00 до 17-30, в пятницу - с 9 до 16.30. Суббота, воскресенье - выходные дни.
						div(class="pb-3")
							h2(class="mb-3")
								| Доставка по Москве и московской области
							ul
								li
									| Если сумма Вашего заказа превышает 30 тыс. рублей и адрес доставки в пределах МКАД - мы доставим товар бесплатно, как правило на следующий рабочий день;
								li
									| Если сумма Вашего заказа превышает 30 тыс. рублей, но адрес доставки в Новой Москве или ближайшем Подмосковье - условия доставки оговариваются с менеджером;
								li
									| Если сумма Вашего заказа менее 30 тыс. рублей - доставка платная. По Москве: 400-1500 руб в зависимости от объема и веса заказа. При доставке по Московской области добавляется стоимость за километраж от МКАД - 30 руб/км.
						div(class="pb-3")
							h2(class="mb-3")
								| Доставка по России
							ul
								li
									| Если сумма Вашего заказа более 30 тыс. рублей - мы доставим Ваш заказ бесплатно до терминала любой транспортной компании, находящейся в Москве. В этом случае, при наличии товара на складе, доставка будет осуществлена на следующий день после зачисления денежных средств на расчетный счет.
								li
									| Если сумма заказа менее 30 тыс. руб., доставка осуществляется также бесплатно, но в течение 3-х рабочих дней до терминала ТК "Первая Экспедиционная Компания" (ПЭК) или ТК "Деловые Линии". Оплата дальнейших транспортных расходов до места назначения производится покупателем непосредственно перевозчику при получении.
							p
								| Ознакомиться с тарифами на перевозку и уточнить наличие представительства компании в Вашем городе Вы сможете у перевозчика.
						div(class="pb-3")
							h2(class="mb-3")
								| Ценообразование и оплата
							ul
								li
									| Мы работаем с юридическими и физическими лицами, в т.ч. нерезидентами. Осуществляем экспорт в Беларусь и Казахстан.
								li
									| Цены, указанные на сайте, включают в себя НДС 20% и актуальны при разовом заказе до 50 тыс. рублей. При заказе от 50 до 100 тыс. рублей предоставляется скидка 10%, от 100 до 300 тыс - 20%, от 300 тыс - 25%. Для дилеров и светотехнических компания предоставляются специальные условия.
								li
									| Форма оплаты: наличный или безналичный расчет. К оплате принимаются банковские карты:
