extends base.pug
block content
	include components/welcome-area.pug
	div(class="main-content")
		div(class="container")
			<div class="item-wrapper rare-block">
				<div class="row">
					<div class="col-md-6">
						<div class="item-wrapper__img img-hover-1">
							img(class="lazyload img-fluid" data-src="images/rare1.jpg" alt="img")
						</div>
					</div>
					<div class="col-md-6">
						<div class="item-wrapper__img img-hover-1">
							img(class="lazyload img-fluid" data-src="images/rare2.jpg" alt="img")
						</div>
					</div>
				</div>
				<div class="item-wrapper__content rare-block__item">
					<h4 class="item-title">Уникальные коллекции<br>ароматов для дома и авто</h4>
					<div class="item-desc px-lg-3">
						<p>Добро пожаловать в наш интернет-магазин, мы рады предложить вам лучший парфюм для дома и автомобиля</p>
					</div>
					<a href="#" class="button button--link">Смотреть весь каталог</a>
				</div>
			</div>
			include components/hot-area.pug
		<div class="container-fluid">
			<div class="banner full-width-banner">
				<div class="row">
					<div class="col-lg-6 content-column pl-lg-5">
						<h2 class="content-title">Небо Фрагранс</h2>
						<div class="content-text">
							<p>Наша компания называется НЕБО ФРАГРАНС и уже более 10 лет специализируется на дистрибьюции уникальных товаров для дома и автомобиля.</p>
						</div>
						<div class="blockquote my-5">
							<blockquote>
								p
									| Сегодня мы официально представляем в России три бренда:
								ul
									li
										| MR&MRS FRAGRANCE – дизайнерские аксессуары для дома и авто;
									li
										| DANHERA ITALY – премиальные средства по уходу за домом;
									li
										| CHRISTIAN TORTU – нишевая парфюмерия и интерьерные ароматы.

							</blockquote>
						</div>
						<div class="content-text">
							<p>В нашем ассортименте - интерьерные свечи, рум-спреи, диффузоры, попурри, дизайнерские ароматизаторы для автомобиля, парфюмированные спреи для текстиля, био-средства для уборки и стирки, эксклюзивные многофункциональные гаджеты и ещё много, очень много действительно оригинальных и необычных товаров. Большинство из них не имеет аналогов не только на российском, но и на мировом рынке!</p>
						</div>
						<div class="content-btn d-flex justify-content-center justify-content-lg-end">
							<a href="#" class="button  button-md button--dark button--dark-outline">Подробнее</a>
						</div>
					</div>
					<div class="col-lg-6 image-column px-3 pr-lg-5">
						<img class="lazyload w-100" src="images/a-iki-art-parfums-10 1.jpg" alt="img">
					</div>
				</div>
			</div>
		</div>
		<div class="blog-list">
			<div class="container">
				<div class="row pb-5">
					<div class="col-12">
						<div class="heading">
							<h2 class="main-heading">Новости и акции</h2>
						</div>
					</div>
				</div>
				<div class="row">
					- for (var i = 0; i < 4; i++)
						<div class="col-12 col-lg-3 mb-5">
							<div class="blog-post-card img-hover-4">
								<div class="blog-post-image d-flex justify-content-center">
									<a href="#" class="d-block w-100">
										<img class="lazyload w-100" data-src="images/Rectangle 8.jpg" alt="img">
									</a>
								</div>
								<div class="blog-post-body">
									<a href="#">
										<h3 class="post-title">Заголовок новости или акции</h3>
									</a>
									<div class="post-summery">
										<p>Краткая аннотация новости или акции для подробного просмотра.</p>
									</div>
									<div class="post-btn">
										<a href="#" class="button button--link">Подробнее</a>
									</div>
								</div>
							</div>
						</div>
				</div>
			</div>
		</div>
