.contact-info-list {
	.info-title {
		font-family:$mainFont;
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		line-height: 17px;
		color: #8f8f8f;
	}
	.info-content {
		font-family:$mainFont;
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		line-height: 17px;
		color: #000;
		&:hover {
			text-decoration: none;
		}
	}
}
