.cart-section {
	padding: 50px 0 110px 0px;
	.main-heading {
		font-family: $mainFont;
		font-style: normal;
		font-weight: normal;
		font-size: 18px;
		line-height: 22px;
		color: #000000;
		padding-bottom: 24px;
		border-bottom: 1px solid #7F7F7F;
		display: block;
		margin-bottom: 0px;
	}
	.sub-title {
		font-family: $mainFont;
		font-style: normal;
		font-weight: normal;
		font-size: 18px;
		line-height: 22px;
		color: #000000;
		margin-bottom: 10px;
	}
	@media (max-width: 991px) {
		padding: 50px 0px;
	}
}
.product-name {
	max-width: 260px;
}
.cart-form__left {
	padding-bottom: 80px;
	@media (max-width: 991px) {
		padding-bottom: 40px;
	}
}
.shop_table {

	.shop_table_body>tr {
		border: 0px;
		@media (max-width: 991px) {
			border-bottom: 1px solid #7f7f7f;
		}
	}
	.product-thumbnail,
	.product-name,
	.product-price,
	.product-quantity,
	.product-subtotal,
	.product-remove {
		padding-top: 28px;
		padding-bottom: 25px;

		font-family: $mainFont;
		font-style: normal;
		font-weight: normal;
		font-size: 18px;
		line-height: 22px;
		color: #000000;
		a {
			font-family: inherit;
			font-style: inherit;
			font-weight: inherit;
			font-size: inherit;
			line-height: inherit;
			color: inherit;
			&:hover {
				text-decoration: none;
			}
		}

	}

}

.product-price {
	.current {
		.amount {
			@media (max-width: 991px) {
				font-weight: bold;
			}
		}
	}
}

.cart_form {
	input {
		border-radius: 0px;
		border: 0px;
		border-bottom: 1px solid #7F7F7F;
		background: none;
		padding: 10px;
		width: 100%;

		font-family: $mainFont;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		line-height: 19px;
		color: #7F7F7F;
		opacity: 1;
		&:focus {
			outline: none;
			border: 0px;
			-webkit-text-fill-color: #7F7F7F;
			border-bottom: 1px solid #7F7F7F;
		}
	}
	.cart_totals {
		span {
			font-family: $mainFont;
			font-style: normal;
			font-weight: normal;
			font-size: 18px;
			line-height: 22px;
			color: #000000;
		}
		.expenses {
			padding-bottom: 8px;
		}
	}
}

.product-remove button {
	border: 0px;
	padding: 0px;
	background: none;
}
.product-img {
	border-radius: 0px;
}
