/* INCLUD SASS */
@import "node_modules/bootstrap/scss/bootstrap.scss";
@import "template/fontawesome.min.css";
@import "template/animate.css";
@import "template/slick.css";
@import "template/ion.rangeSlider.min.css";
@import "template/lightbox.min.css";
@import "template/nice-select.min.css";
@import "template/main.css";

@import "default/_default";
@import "header/_header";
@import "social/_social";
@import "button/_button";
@import "hot-block/_hot-block";
@import "footer/_footer";
@import "catalog/_catalog";
@import "breadcrumb/_breadcrumb";
@import "library/jquery-ui.css";
@import "pagination/_pagination";
@import "item/_item";
@import "cart/_cart";
@import "contacts/_contacts";
@import "delivery/_delivery";
@import "blog/_blog";
@import "about/_about";





.hero-header--carousel {
	.slick-list {
		width: 100%!important;
	}

	.hero-header-bg {
		padding: 0px!important;
		background-color: #FBFBFB;
	}
	.inner-content {
		.slider-title.slider-title--style-1 {
			margin: 0px;
			.slider-subtitle {
				font-family: $mainFont;
				font-style: normal;
				font-weight: bold;
				font-size: 24px;
				line-height: 29px;

				color: #000000;

				padding-bottom: 9px;
				margin: 0px;
				display: block;
				@media (max-width: 991px) {
					padding-bottom: 2px;
				}
			}
			.slider-main-title {
				font-family: $mainFont;
				font-style: normal;
				font-weight: normal;
				font-size: 48px;
				line-height: 58px;

				color: #000000;

				display: block;
				padding-bottom: 29px;
				margin: 0px;
				@media (max-width: 991px) {
					font-size: 36px;
					line-height: 44px;
					padding-bottom: 14px;
				}
			}
		}
		.slider-text {
			p {
				font-family: $mainFont;
				font-style: normal;
				font-weight: normal;
				font-size: 24px;
				line-height: 29px;

				color: #000000;
			}
		}
	}
	.slick-next, .slick-prev {
		width: 59px;
		height:113px;
		background: rgba(196, 196, 196, 0.45);
		transition: 0.3s;
		&:before {
			transition: 0.3s;
			opacity: 1;
		}
		&:hover {
			background: rgba(196, 196, 196, 0.8);
			transition: 0.3s;
			&:before {
				transition: 0.3s;

			}
		}
	}
	.slick-next {
		right: 10px;
	}
	.slick-prev {
		left: 10px;
	}
}














.rare-block {
	padding: 70px 0px;
	.item-wrapper__content {
		.item-title {
			font-family: $mainFont;
			font-style: normal;
			font-weight: bold;
			font-size: 24px;
			line-height: 29px;
			text-align: center;

			color: #000000;
			@media (max-width: 991px) {
				font-size: 18px;
				line-height: 22px;
			}
		}
		p {
			font-family: $mainFont;
			font-style: normal;
			font-weight: normal;
			font-size: 18px;
			line-height: 22px;
			text-align: center;

			color: #7F7F7F;
		}
		@media (max-width: 991px) {
			padding: 25px 10px;
		}
	}

	@media (max-width: 991px) {
		padding: 50px 0px;
	}
}






.banner {
	&.full-width-banner {
		padding: 80px 0 30px 0px;

		.content-column .content-title {
			font-family: $mainFont;
			font-style: normal;
			font-weight: bold;
			font-size: 48px;
			line-height: 58px;
			color: #000000;
			margin-bottom: 51px;
			@media(max-width: 991px) {
				font-size: 36px;
				line-height: 44px;
				margin-bottom: 25px;
			}
		}
		.content-text {
			p {
				font-family: $mainFont;
				font-style: normal;
				font-weight: normal;
				font-size: 18px;
				line-height: 22px;
				color: #000000;
				margin-bottom: 10px;
			}
		}

		.button {
			padding-left: 80px;
			padding-right:60px;
			opacity: 1;
			background: #000;
			border-radius: 0px;

			font-family: $mainFont;
			font-style: normal;
			font-weight: normal;
			font-size: 24px;
			line-height: 29px;

			color: #FFFFFF;
			&:hover {
				text-decoration: none;
			}
		}

		@media (max-width: 991px) {
			padding: 50px 0 30px 0px;
		}
	}
}
blockquote {
	p {
		font-family: $mainFont;
		font-style: normal;
		font-weight: normal;
		font-size: 18px;
		line-height: 22px;
		color: #000000;
		margin-bottom: 0px;
	}
	ul {
		li {
			font-family: $mainFont;
			font-style: normal;
			font-weight: normal;
			font-size: 18px;
			line-height: 22px;
			color: #000000;
			margin-bottom: 0px;
			&:before {
				content: "-";
				padding-right: 10px;
			}
		}
	}
}

@media only screen and (min-width: 992px) {
	.banner.full-width-banner .content-column {
		padding-left: 15px;
	}
	.banner.full-width-banner .image-column {
		padding-right: 15px;
	}
}












.blog-list {
	padding: 10px 0 100px 0px;

	@media (max-width: 991px) {
		padding: 10px 0 50px 0px;
	}
}
.blog-post-card {
	.blog-post-body {
		 a {
			.post-title {
				font-family: $mainFont;
				font-style: normal;
				font-weight: normal;
				font-size: 18px;
				line-height: 22px;
				color: #000000;
				border-bottom: 1px solid transparent;
				transition: 0.3s;
			}
			&:hover {
				text-decoration: none;
				color: #000000;

			}
		}

		p {
			font-family: $mainFont;
			font-style: normal;
			font-weight: normal;
			font-size: 16px;
			line-height: 19px;

			color: #7F7F7F;
		}
		.post-btn .button--link {
			font-family: $mainFont;
			font-style: normal;
			font-weight: normal;
			font-size: 16px;
			line-height: 19px;
			color: #000000;
			&:before {
				background-color: #000;
			}
		}
	}

}





.spam-block {
	display: flex;
	align-items: center;
	.spam-block__text {
		border: 0px;
		border-radius: 0px;
		background-color: #fff;
		padding: 6px 10px;

		font-family: $mainFont;
		font-style: normal;
		font-weight: normal;
		font-size: 18px;
		line-height: 22px;
		color: #000000;
		width: 60%;
		&:focus {
			border: 0px;
			outline: none;
		}
	}
	.btn {
		width: 40%;
		padding: 6px 0px;
		text-align: center;
		background-color: #000;
		font-family: $mainFont;
		font-style: normal;
		font-weight: normal;
		font-size: 18px;
		line-height: 22px;
		color: #FFFFFF;
	}
}


.hero-header .title {
	font-family: $mainFont;
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	line-height: 44px;
	color: #000000;
	@media (max-width: 991px) {
		font-size: 24px;
		line-height: 36px;
	}
}
