.header .top-header {
	background-color: #fff;
	padding: 10px 0px;

	ul {
		padding: 0px;
		margin: 0px;
		li {
			list-style: none;
			padding-right: 15px;
			a {
				font-family: $mainFont;
				font-style: normal;
				font-weight: normal;
				font-size: 14px;
				line-height: 17px;
				color: #7F7F7F;
				border-bottom: 1px solid transparent;
				&:hover {
					text-decoration: none;
					border-bottom: 1px solid #7F7F7F;
				}
			}
			&:last-child {
				padding: 0px;
			}
		}
	}
}
.header-adress {
	font-family: $mainFont;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 17px;
	color: #000000;
	border-right: 1px solid #000;
}
.header-phone {
	font-family: $mainFont;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 17px;
	color: #000000;
	&:hover {
		text-decoration: none;
		color: #000;
	}
}
.header .main-navbar {
	background-color: #000;
	padding: 6px 0 0 0;
	.main-menu {
		.menu-item {
			margin-right: 45px;
			.menu-item_link {
				font-family: $mainFont;
				font-style: normal;
				font-weight: bold;
				font-size: 18px;
				line-height: 22px;
				color: #FFFFFF;
				opacity: 1;

				padding: 0px 0px 2px 0px;
				border-bottom: 2px solid transparent;

				transition: 0.3s;
				&:hover {
					border-bottom: 2px solid #fff;
					transition: 0.3s;
				}

				@media (max-width: 991px) {
					color: #707070;
					padding: 16px;
				}
			}
			&.active {
				.menu-item_link {
					border-bottom: 2px solid #fff;
					@media (max-width: 991px) {
						border-bottom: 2px solid #707070;
					}
				}
			}
			&:last-child {
				margin: 0px;
			}
			@media (max-width: 991px) {
				margin: 0px;
			}
		}
	}
	.navbar-collapse {
		&.collapse-nav {
			margin-left: -16px;
			margin-right: -16px;
			margin-bottom: -16px;
		}
	}
	@media (max-width: 991px) {
		padding: 16px;
	}
}
.header-search__btn {
	svg {
		width: 24px;
	}
	&:hover {

	}
}

.header__btn .btn-badge {
	background: #fff;
	font-family: $mainFont;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 17px;
	color: #000000;
}

#burger {
	width: 40px;
	height: 40px;
	border: 0px;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
	.ham {
		cursor: pointer;
		-webkit-tap-highlight-color: transparent;
		transition: transform 400ms;
		-moz-user-select: none;
		-webkit-user-select: none;
		-ms-user-select: none;
		user-select: none;
		transform: scale(1.5);
	}
	.hamRotate.active {
		transform: rotate(45deg) scale(1.5);
	}
	.hamRotate180.active {
		transform: rotate(180deg);
	}
	.line {
		fill:none;
		transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
		stroke: #fff;
		stroke-width: 5.5;
		stroke-linecap:round;
	}
	.ham8 .top {
		stroke-dasharray: 40 160;
	}
	.ham8 .middle {
		stroke-dasharray: 40 142;
		transform-origin: 50%;
		transition: transform 400ms;
	}
	.ham8 .bottom {
		stroke-dasharray: 40 85;
		transform-origin: 50%;
		transition: transform 400ms, stroke-dashoffset 400ms;
	}
	.ham8.active .top {
		stroke-dashoffset: -64px;
	}
	.ham8.active .middle {
		transform: rotate(90deg);
	}
	.ham8.active .bottom {
		stroke-dashoffset: -64px;
	}
	&:focus {
		outline: none;
	}
}


.header__btn .cart-list__item .product-name {
	font-family: $mainFont;
	font-family: Gilroy;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 17px;
	color: #000;
	&:hover {
		text-decoration: none;
	}
}
.header__btn .cart-list__item .product-price .amount {
	color: #000;
}
.header__btn .dropdown-wrapper-footer .total-price .price {
	color: #000;
}
