.social-block {
	display: flex;
	align-items: center;
	.social-block__item {
		display: block;
		margin-right: 30px;
		padding: 5px;
		border-radius: 5px;
		transition: 0.3;
		svg {
			path {
				fill: #000;
			}
		}
		&:last-child {
			margin: 0px;
		}
		&:hover {
			background: #161616;
			transition: 0.3;
			svg {
				path {
					fill: #fff;
				}
			}
		}
	}
	&.social-block_footer {
		.social-block__item {
			svg {
				path {
					fill: #fff;
				}
			}
			&:hover {
				background: #fff;
				transition: 0.3;
				svg {
					path {
						fill: #000;
					}
				}
			}
		}
	}
}
