.blog {
	padding: 60px 0px 120px 0px;
	@media (max-width: 991px) {
		padding: 50px 0px;
	}
}


.blog-inner {
	padding: 60px 15px 120px 15px;
	@media (max-width: 991px) {
		padding: 50px 15px;
	}


	img {
		padding: 0px;
		display: block;
		margin: 20px 0px;
	}
	ul {
		padding-left: 20px;
		li {
			list-style: initial;
		}
	}
}
