@media only screen and (min-width: 768px) {
	.product-header .product-rate {
		position: unset;
	}
}

.gallery-nav--vr {
	height: 572px;
	overflow: hidden;
	@media (max-width: 991px) {
		height: unset;
	}
}

.product-layout-carousel {
	padding: 20px 0px  0px 0px;
}
.product-info {
	padding: 80px 0px 100px 0px;
	@media (max-width: 991px) {
		padding: 50px 0px;
	}
}

.product-wrapper {
	.product__art {
		font-family: $mainFont;
		font-style: normal;
		font-weight: normal;
		font-size: 18px;
		line-height: 22px;
		color: #7F7F7F;
	}
}

.product-add-to-cart {
	.button {
		color: #fff;
		border-radius: 0px;
		padding: 10px 40px;
	}
}

.product-wishlist .button {
	&:hover {
		text-decoration: none;
	}
}

.product-info__nav.nav--minimal .nav-item .nav-link {
	font-family: $mainFont;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 22px;
	color: #7F7F7F;
	&.active {
		color: #000000;
	}
}

.product-des p {
	font-family: $mainFont;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 22px;
	color: #4E4E4E;
}
